* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#main {
  width: 100% !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#navbarText {
  background-color: #272a35 !important;
  /* border: 1px solid; */
  width: 10% !important;
}

#h1 {
  font-size: 150px !important;
  font-weight: 200 !important;
}
li a {
  display: flex;
  margin: 10px 30px;
  color: #abafb9 !important;
  text-decoration: none;
}

li a.router-link-exact-active {
  display: flex;
  margin: 10px 30px;
  border-bottom: 3px solid #abafb9 !important;
}

.navbar-brand {
  width: 30%;
}
